.calculator {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu {
  background: none;
  border: none;
  font-size: larger;
  cursor: pointer;
  margin-bottom: 1rem;
}
.menu:hover {
  color: #007bff;
}

@media (max-width: 576px) {
  .calculator {
    width: 100%;
    max-width: none;
    padding: 10px;
  }
}
